<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
    {{template "cBInport.html" .}}
    <link rel="stylesheet" href="/static/css/dashboard.css">
</head>

<body class="flex flex-col min-h-screen bg-white text-gray-800 dark:bg-neutral-900 dark:text-white">
    {{template "toasts.html" .}}
    {{template "header.html" .}}

    <main class="flex-grow px-4 py-4 mt-3 w-full max-w-[96%] mx-auto">
        {{ if not .setting }}
            {{template "cSettingBanner.html" .}}
        {{ end }}
    
        <div class="w-full bg-white dark:bg-neutral-800 rounded-lg py-6 px-6 shadow-xl mb-6 relative">
            <div id="overlay" class="hidden absolute inset-0 w-full h-full bg-white/95 dark:bg-neutral-900/95 rounded-lg transition-colors duration-300 z-50 flex justify-center items-center">
                <div class="animate-spin inline-block size-6 border-[3px] border-current border-t-transparent text-blue-600 rounded-full dark:text-blue-500" role="status" aria-label="loading">
                    <span class="sr-only">Loading...</span>
                  </div>
            </div>
                <!-- Кнопка обновления -->
            <button onclick="refresh()" class="absolute top-4 right-4 w-10 h-10 rounded-lg bg-gray-200 dark:bg-neutral-600 hover:bg-gray-300 dark:hover:bg-neutral-500 flex justify-center items-center transition-colors duration-300">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                  </svg>
            </button>
            <h2 class="text-2xl font-bold mb-4">Основная статистика</h2>
            <p class="text-md mb-6">
                Основная статистика работы системы Zentas Infromatic Class. Для получения подробной информации нажмите на нужный компонент.
            </p>
            <!-- Пять микроблоков -->
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-6">
                <div id="pc-online-block" class="bg-gray-100 dark:bg-neutral-700 p-4 rounded-lg shadow relative h-40 flex flex-col justify-between">
                    <h3 class="truncate-title text-sm font-medium text-gray-600 dark:text-neutral-400">Компьютеров онлайн</h3>
                    <div class="flex justify-between items-end">
                        <div class="flex items-center">
                            <div id="pc-online-circle" class="w-3 h-3 rounded-full pulse mr-2 bg-red-500"></div>
                            <span id="pc-online-count" class="text-3xl font-bold text-red-500">N/D</span>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-100 dark:bg-neutral-700 p-4 rounded-lg shadow relative h-40 flex flex-col justify-between">
                    <h3 class="truncate-title text-sm font-medium text-gray-600 dark:text-neutral-400">Активных кабинетов</h3>
                    <div class="flex justify-between items-end">
                        <div class="flex items-center">
                            <div id="room-online-circle" class="w-3 h-3 rounded-full bg-red-500 pulse mr-2"></div>
                            <span id="room-online-count" class="text-3xl font-bold text-red-500">N/D</span>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-100 dark:bg-neutral-700 p-4 rounded-lg shadow relative h-40 flex flex-col justify-between">
                    <h3 class="truncate-title text-sm font-medium text-gray-600 dark:text-neutral-400"><span class="inline-flex items-center gap-x-1 py-1 px-2 rounded-full text-xs font-medium bg-yellow-100 text-yellow-800 dark:bg-yellow-800/30 dark:text-yellow-500">🔨 dev</span> Заданий на проверке</h3>
                    <div class="flex justify-between items-end">
                        <div class="flex items-center">
                            <div class="w-3 h-3 rounded-full bg-red-500 pulse mr-2"></div>
                            <span class="text-3xl font-bold text-red-500">N/D</span>
                        </div>
                    </div>
                </div>        
                <div class="bg-gray-100 dark:bg-neutral-700 p-4 rounded-lg shadow relative h-40 flex flex-col justify-between">
                    <h3 class="truncate-title text-sm font-medium text-gray-600 dark:text-neutral-400">Статус системы</h3>
                    <div class="flex justify-between items-end">
                        <div class="flex items-center">
                            <div id="stat-online-circle" class="w-3 h-3 rounded-full bg-red-500 pulse mr-2"></div>
                            <span id="stat-online-count" class="text-3xl font-bold text-red-500">N/D</span>
                        </div>
                    </div>
                </div>        
                <div class="bg-gray-100 dark:bg-neutral-700 p-4 rounded-lg shadow relative h-40 flex flex-col justify-between">
                    <h3 class="truncate-title text-sm font-medium text-gray-600 dark:text-neutral-400"><span class="inline-flex items-center gap-x-1 py-1 px-2 rounded-full text-xs font-medium bg-yellow-100 text-yellow-800 dark:bg-yellow-800/30 dark:text-yellow-500">🔨 dev</span> Облако</h3>
                    <div class="flex justify-between items-end">
                        <div class="flex items-center">
                            <div class="w-3 h-3 rounded-full bg-red-500 pulse mr-2"></div>
                            <span class="text-3xl font-bold text-red-500">N/D </span>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
        <div class="w-full bg-white dark:bg-neutral-800 rounded-lg py-6 px-6 shadow-xl mb-6">
            <h2 class="text-2xl font-bold mb-4">Действия с системой</h2>
            <p class="text-md mb-6">
                Выберите действие для управления системой Zentas Infromatic Class. Для выполнения действия нажмите на нужную карточку.
            </p>        
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
                <div class="bg-blue-500 dark:bg-blue-800 p-4 rounded-lg shadow relative h-40 flex justify-between transition-colors duration-300 hover:bg-blue-400 dark:hover:bg-blue-700 cursor-pointer">
                    <div class="absolute top-2 right-2">
                        <img src="your-icon-url1.png" alt="Заблокировать компьютеры" class="w-12 h-12">
                    </div>
                    <p class="absolute bottom-2 left-2 text-lg font-semibold text-white dark:text-neutral-400 truncate-title">
                        Блокировка
                    </p>
                </div>            
                <div class="bg-blue-500 dark:bg-blue-800 p-4 rounded-lg shadow relative h-40 flex justify-between transition-colors duration-300 hover:bg-blue-400 dark:hover:bg-blue-700 cursor-pointer">
                    <div class="absolute top-2 right-2">
                        <img src="your-icon-url2.png" alt="Отключить сеть" class="w-12 h-12">
                    </div>
                    <p class="absolute bottom-2 left-2 text-lg font-semibold text-white dark:text-neutral-400 truncate-title">
                        Send Link
                    </p>
                </div>            
                <div class="bg-blue-500 dark:bg-blue-800 p-4 rounded-lg shadow relative h-40 flex justify-between transition-colors duration-300 hover:bg-blue-400 dark:hover:bg-blue-700 cursor-pointer">
                    <div class="absolute top-2 right-2">
                        <img src="your-icon-url3.png" alt="Перезагрузить все устройства" class="w-12 h-12">
                    </div>
                    <p class="absolute bottom-2 left-2 text-lg font-semibold text-white dark:text-neutral-400 truncate-title">
                        Выключение компьюетров
                    </p>
                </div>            
                <div class="bg-blue-500 dark:bg-blue-800 p-4 rounded-lg shadow relative h-40 flex justify-between transition-colors duration-300 hover:bg-blue-400 dark:hover:bg-blue-700 cursor-pointer">
                    <div class="absolute top-2 right-2">
                        <img src="your-icon-url4.png" alt="Очистить кэш всех устройств" class="w-12 h-12">
                    </div>
                    <p class="absolute bottom-2 left-2 text-lg font-semibold text-white dark:text-neutral-400 truncate-title">
                        Перезагрузка комптютеров
                    </p>
                </div>
            </div>
         </div>
    </main>

    <!-- Footer -->
    {{template "cFooter.html" .}}



<script src="static/js/dashboard.js"></script>
 
</body>
</html>
