<div class="w-full bg-red-500 rounded-lg relative overflow-hidden text-white py-6 px-6 shadow-xl flex flex-col md:flex-row items-center justify-between shadow-red-500/50 mb-6">
    <div class="text-center md:text-left mb-4 md:mb-0">
        <h1 class="text-2xl font-bold mb-2">Ранняя версия</h1>
        <p class="text-md">
            Вы используете раннюю версию системы ZIC. Система не синхронизируется с серверами ZIC, и некоторые функции могут работать некорректно. После выхода и обновления до стабильной версии работа функций станет стабильной.
        </p>
    </div>
    <a href="/dashboard/settings" class="inline-block bg-white text-red-500 font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-red-100 transition-colors duration-100 cursor-pointer focus:ring-2 focus:ring-blue-400 focus:ring-opacity-50 whitespace-nowrap w-auto">
        Следить за новостями
    </a>
    
    
</div>
