<!-- Существующее модальное окно для добавления компьютера -->
<div id="add-computer-modal" class="hidden fixed inset-0 z-[80] flex items-center justify-center bg-black bg-opacity-50 dark:bg-opacity-70">
  <div class="bg-white dark:bg-gray-800 w-full max-w-lg p-6 rounded-lg shadow-lg">
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-100">Добавить компьютер</h3>
      <button onclick="closeModal('add-computer-modal')" class="text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200">&times;</button>
    </div>
    <form id="add-computer-form" class="space-y-4">
      <div>
        <label for="computer-name" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Введите имя компьютера</label>
        <input type="text" id="computer-name" class="mt-1 block w-full px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:ring focus:ring-opacity-50 dark:focus:ring-opacity-50 dark:focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100" required>
      </div>
      <div>
        <label for="local-ip" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Укажите локальный IP адрес компьютера</label>
        <input type="text" id="local-ip" class="mt-1 block w-full px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:ring focus:ring-opacity-50 dark:focus:ring-opacity-50 dark:focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100" required>
      </div>
      <div>
        <label for="public-ip" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Укажите публичный IP адрес в сети компьютера</label>
        <input type="text" id="public-ip" class="mt-1 block w-full px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:ring focus:ring-opacity-50 dark:focus:ring-opacity-50 dark:focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100" required>
      </div>
    </form>
    <div class="mt-4 flex justify-end space-x-2">
      <button onclick="closeModal('add-computer-modal')" class="px-4 py-2 bg-gray-200 dark:bg-gray-600 dark:text-gray-100 rounded-md">Закрыть</button>
      <button onclick="submitComputerForm({{.id}})" class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 dark:bg-blue-500 dark:hover:bg-blue-600">Добавить</button>
    </div>
  </div>
</div>

<!-- Новое модальное окно для ввода URL -->
<div id="url-modal" class="hidden fixed inset-0 z-[80] flex items-center justify-center bg-black bg-opacity-50 dark:bg-opacity-70">
  <div class="bg-white dark:bg-gray-800 w-full max-w-lg p-6 rounded-lg shadow-lg">
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-lg font-semibold text-gray-800 dark:text-gray-100">Ввести URL</h3>
      <button onclick="closeModal('url-modal')" class="text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200">&times;</button>
    </div>
    <form id="url-form" class="space-y-4">
      <div>
        <label for="input-url" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Введите URL</label>
        <input type="url" id="input-url" class="mt-1 block w-full px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm focus:ring focus:ring-opacity-50 dark:focus:ring-opacity-50 dark:focus:ring-blue-500 dark:bg-gray-700 dark:text-gray-100" required>
      </div>
    </form>
    <div class="mt-4 flex justify-end space-x-2">
      <button onclick="closeModal('url-modal')" class="px-4 py-2 bg-gray-200 dark:bg-gray-600 dark:text-gray-100 rounded-md">Закрыть</button>
      <button onclick="submitUrlForm({{.id}})" class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 dark:bg-blue-500 dark:hover:bg-blue-600">Отправить</button>
    </div>
  </div>
</div>

<div id="deleteModal" class="hidden fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
  <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg max-w-md w-full">
      <div class="p-4">
          <h3 class="text-lg font-bold text-gray-800 dark:text-white">Удалить кабинеи</h3>
          <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">Вы уверены, что хотите удалить этот кабинет? Это действие необратимо.</p>
      </div>
      <div class="flex justify-end p-4 gap-2">
          <button id="cancelButtonD" class="py-2 px-4 text-sm font-medium rounded-lg border bg-gray-100 text-gray-700 hover:bg-gray-200 focus:outline-none focus:bg-gray-200">
              Отмена
          </button>
          <button id="confirmButtonD" class="py-2 px-4 text-sm font-medium rounded-lg border bg-red-600 text-white hover:bg-red-700 focus:outline-none focus:bg-red-700">
              Удалить
          </button>
      </div>
  </div>
</div>

<script>
  // Функция для открытия модального окна
  function openModal(modalId) {
    document.getElementById(modalId).classList.remove('hidden');
  }

  // Функция для закрытия модального окна
  function closeModal(modalId) {
    document.getElementById(modalId).classList.add('hidden');
  }

  // Функция для отправки формы добавления компьютера
  async function submitComputerForm(id) {
    const name = document.getElementById("computer-name").value;
    const lip = document.getElementById("local-ip").value;
    const pip = document.getElementById("public-ip").value;

    id = parseInt(id);

    const data = {
        room: id,
        name: name,
        lip: lip,
        pip: pip,
    };

    const url = `/pc/api/new/`;
    const response = await postRequestNew(url, data);
    closeModal('add-computer-modal');

    if (response) {
        setTimeout(() => {
            location.reload();
        }, 2000);
    }

  }

  // Функция для отправки формы с URL
  async function submitUrlForm(id) {
    const urlInput = document.getElementById("input-url").value;

    const data = { "url": urlInput };

    const url = `/room/api/room/link/${id}`;
    const response = await postRequestNew(url, data);
    closeModal('url-modal');

    if (response) {
        setTimeout(() => {
            location.reload();
        }, 2000);
    }

  }

  let roomIdToDelete = null; // Хранит ID комнаты, которую нужно удалить

    // Функция для открытия модального окна
    function openDeleteModal(roomId) {
        roomIdToDelete = roomId; // Сохраняем ID комнаты
        const modal = document.getElementById('deleteModal');
        modal.classList.remove('hidden');
    }

    // Функция для закрытия модального окна
    function closeDeleteModal() {
        const modal = document.getElementById('deleteModal');
        modal.classList.add('hidden');
        roomIdToDelete = null; // Сбрасываем ID комнаты
    }

  document.getElementById('cancelButtonD').addEventListener('click', closeDeleteModal);
  document.getElementById('confirmButtonD').addEventListener('click', async () => {
        if (roomIdToDelete) {
            const url = `/room/api/del/${roomIdToDelete}`; // Генерируем URL
            const response = await postRequestNew(url, {}); // Вызываем функцию отправки POST-запроса
            closeDeleteModal(); // Закрываем модальное окно
            
            if (response) { // Если запрос выполнен успешно
                setTimeout(() => {
                    location.replace("/dashboard/data"); // Перезагружаем страницу через 3.5 секунды
                }, 2000);
            }
        }
    });
</script>
