<div class="w-full bg-blue-500 rounded-lg relative overflow-hidden text-white py-6 px-6 shadow-xl flex flex-col md:flex-row items-center justify-between shadow-blue-500/50 mb-6">
    <div class="text-center md:text-left mb-4 md:mb-0">
        <h1 class="text-2xl font-bold mb-2">Завершите настройку</h1>
        <p class="text-md">
            Пожалуйста, завершите настройку вашего сервера во вкладке <span class="font-semibold">"Настройки"</span>.
        </p>
    </div>
    <a href="/settings" class="bg-white text-blue-500 font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-blue-600 hover:text-white transition-colors duration-300 cursor-pointer">
        Перейти в настройки
    </a>
    <div class="absolute inset-0 opacity-10" style="background-image: url('https://via.placeholder.com/150'); background-size: 150px; background-position: right bottom;"></div>
</div>